<!-- Este es el archivo de pagina home -->

<div class="p-6 bg-gray-100 rounded-lg shadow-md">
    <h1 class="text-3xl font-bold mb-4">
        Bienvenido a Mi Proyecto
    </h1>
    <p class="text-lg mb-4">
        Este proyecto está diseñado para mostrar un listado de registros de la entidad principal, 
        utilizando Angular para el frontend y Spring Boot para el backend.
    </p>
    <img src="https://miro.medium.com/v2/resize:fit:720/format:webp/1*Kj8Eq401fP2ecTY8r9B89Q.png" alt="Descripción del Proyecto" class="w-1/2 h-auto rounded-md mb-4" />
    
    <div class="w-full aspect-video rounded-md overflow-hidden">
        <iframe src="https://www.youtube.com/embed/f7unUpshmpA?si=KVSTya6rHbNeP6IG" title="Curso sobre Angular"
            frameborder="0" allowfullscreen class="w-full h-full">
        </iframe>
    </div>
</div>
