<!-- Este es el archivo de pagina home -->

<div class="p-4 bg-light rounded shadow-sm">
    <h1 class="fs-3 fw-bold mb-3">
        Bienvenido a Mi Proyecto
    </h1>
    <p class="fs-6 mb-3">
        Este proyecto está diseñado para mostrar un listado de registros de la entidad principal, 
        utilizando Angular para el frontend y Spring Boot para el backend.
    </p>
    <img src="https://miro.medium.com/v2/resize:fit:720/format:webp/1*Kj8Eq401fP2ecTY8r9B89Q.png" alt="Descripción del Proyecto" class="img-fluid rounded mb-3" />

    <div class="ratio ratio-16x9 w-100 h-100">
        <iframe src="https://www.youtube.com/embed/f7unUpshmpA?si=KVSTya6rHbNeP6IG" title="Curso sobre Angular"
            frameborder="0" allowfullscreen class="w-100 h-100">
        </iframe>
    </div>
</div>
