<!-- Este es el archivo para la pagina de about-->

<div class="p-6 bg-gray-100 rounded-lg shadow-md">
    <h1 class="text-3xl font-bold mb-4">
        Bienvenido les voy a contar un poco de sobre mi
    </h1>
    <p class="text-lg mb-4">
        Soy Guillermo Esteban Díaz Quezada, Ingeniero de Ejecución en Sistemas Computacionales con más de cinco años de experiencia en el ámbito tecnológico, especializado en la implementación de redes de datos y en la administración de servidores Windows y Linux. Mi trayectoria profesional se respalda con certificaciones en Microsoft Azure y AWS, además de un profundo conocimiento en lenguajes de programación como JavaScript y Python, y en bases de datos SQL.
        Mi pasión por la tecnología y mi enfoque orientado a resultados me impulsan a resolver problemas con creatividad y efectividad. Soy un profesional comprometido con el aprendizaje continuo y la adaptación a nuevas tecnologías, siempre dispuesto a asumir desafíos que aporten valor y promuevan la innovación en proyectos tecnológicos.
    </p>
    <img src="/cover.webp" alt="Descripción del Proyecto" class="md:size-full lg:size-1/6 rounded-md mb-4" />
    
</div>