<!-- Este es el archivo para la pagina de about-->

<div class="p-4 bg-light rounded shadow-lg">
    <h1 class="fs-3 fw-bold mb-3">
        Bienvenido, les voy a contar un poco sobre mí
    </h1>
    <p class="fs-6 mb-3">
        Soy Guillermo Esteban Díaz Quezada, Ingeniero de Ejecución en Sistemas Computacionales con más de cinco años de experiencia en el ámbito tecnológico, especializado en la implementación de redes de datos y en la administración de servidores Windows y Linux. Mi trayectoria profesional se respalda con certificaciones en Microsoft Azure y AWS, además de un profundo conocimiento en lenguajes de programación como JavaScript y Python, y en bases de datos SQL.
        Mi pasión por la tecnología y mi enfoque orientado a resultados me impulsan a resolver problemas con creatividad y efectividad. Soy un profesional comprometido con el aprendizaje continuo y la adaptación a nuevas tecnologías, siempre dispuesto a asumir desafíos que aporten valor y promuevan la innovación en proyectos tecnológicos.
    </p>
    <img src="/cover.webp" alt="Descripción del Proyecto" class="img-fluid rounded mb-4" style="max-width: 20%;">
</div>