<!--Este es un footer-->
<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 pt-5 mt-5 border-top">
        <div class="col mb-3">
            <p class="text-body-secondary">© 2024</p>
        </div>
  
        <div class="col mb-3"></div>
  
        <div class="col mb-3">
            <a class="fs-5 text-black text-decoration-none" routerLink="/">Home</a>
        </div>
  
        <div class="col mb-3">
            <h5>Records</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a routerLink="/records/get" class="nav-link p-0 text-body-secondary">Get</a></li>
                <li class="nav-item mb-2"><a routerLink="/records/add" class="nav-link p-0 text-body-secondary">Add</a></li>
                <li class="nav-item mb-2"><a routerLink="/records/update" class="nav-link p-0 text-body-secondary">Update</a></li>
                <li class="nav-item mb-2"><a routerLink="/records/delete" class="nav-link p-0 text-body-secondary">Delete</a></li>
            </ul>
        </div>
  
        <div class="col mb-3">
            <a class="fs-5 text-black text-decoration-none" routerLink="/about">About</a>
        </div>
    </footer>
</div>