<!-- Este es el archivo de la pagina de record -->

<div class="p-6 bg-gray-100 rounded-lg shadow-md">
    <h1 class="text-3xl font-bold mb-4">
      Pagina de Registros
    </h1>
    
    <!-- Mostrar registros si existen -->
    <div *ngIf="records.length > 0; else noRecords">
        <table class="min-w-full bg-white">
            <thead>
                <tr>
                    <th class="py-2 px-4 border-b border-gray-200">ID</th>
                    <th class="py-2 px-4 border-b border-gray-200">Nombre</th>
                    <th class="py-2 px-4 border-b border-gray-200">Casa Matriz</th>
                </tr>
            </thead>
            <tbody>
                <!-- Mostrar registros que trae el backend-->
                <tr *ngFor="let record of records">
                    <td class="py-2 px-4 border-b border-gray-200">{{ record.id }}</td>
                    <td class="py-2 px-4 border-b border-gray-200">{{ record.nombre }}</td>
                    <td class="py-2 px-4 border-b border-gray-200">{{ record.casa_matriz }}</td>
                </tr>
            </tbody>
        </table>
    </div>
  
    <!-- Mostrar mensaje si no hay registros -->
    <ng-template #noRecords>
        <p class="text-gray-600">No hay registros disponibles.</p>
    </ng-template>
</div>